<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Nordic Elysium
    </title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="description" content="Tech demo featuring Three.js and GSAP" />
    <link rel="icon" href="/favicon.png" sizes="any" />

    <meta property="og:title" content="Nordic Elysium" />
    <meta property="og:description"
      content="Tech demo featuring Three.js and GSAP" />
    <meta property="og:image"
      content="https://nordic-elysium-einomi.netlify.app/share.jpg" />

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ STATIC_PATH }}/css/tailwind.css" />
      <link rel="stylesheet" href="{{ STATIC_PATH }}/css/styles.css" />
      <link rel="stylesheet" href="https://use.typekit.net/hrm1xaz.css" />
    {% endblock %}
  </head>
  <body>
    {% svg_sprite %}

    {% block content %}

    {% endblock %}

    {% block scripts %}
      <script src="{{ STATIC_PATH }}/js/bundle.js"></script>
    {% endblock %}
  </body>
</html>
