{% extends './_layouts/base.njk' %}

{% block content %}
  {% set items = ['New Game', 'Load Game', 'Options', 'Exit'] %}

  <div class="w-full overflow-hidden">
    <canvas class="fixed webgl" data-canvas></canvas>

    <h1 class="absolute left-[8vw] landscape:left-[5vw] bottom-[8vw] landscape:bottom-[3vw] uppercase text-[#eee] text-[6vw] landscape:text-[3.6vw] tracking-[0.07em] font-bold select-none"
      data-title>
      <span class="opacity-0" data-source>Nordic Elysium</span>
      <span class="opacity-0 absolute left-0 whitespace-nowrap"
        data-letters
        aria-hidden="true">

      </span>
    </h1>
    <ul class="absolute right-[8vw] landscape:right-[5vw] top-[42%] landscape:top-[30%] -translate-y-1/2 landscape:translate-y-0 text-[5.5vw] landscape:text-[2.5vw] text-[#333] text-right select-none">
      {% for item in items %}
        <li class="mb-[0.4em] opacity-0 invisible" data-list-item>
          <button href="#"
            class="hover:text-[#ffdca4] active:text-[#eee] uppercase font-medium"
            data-menu-button>
            {{ item }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="loader" data-loader>
    {% image './src/images/loader-bg.jpg',
      {
        alt: '',
        class: 'loader__image'
      },
      2560
    %}
    <div class="loader__text" data-loader-text>
      Loading...
    </div>
  </div>
{% endblock %}
