{% extends './_layouts/base.njk' %}

{% block content %}
  {% set items = ['New Game', 'Load Game', 'Options', 'Exit'] %}

  <div>
    <img class="fixed w-full h-full left-0 top-0 object-cover"
      src="/scenery.jpg"
      alt="" />
    <canvas class="fixed webgl opacity-0" data-canvas></canvas>
    <ul class="absolute right-[7vw] top-[30vh] uppercase text-[50px] text-[#444] font-medium">
      {% for item in items %}
        <li class="mb-[20px] opacity-0 invisible" data-list-item>
          <a href="#" class="hover:text-[#5384af] active:text-[#33608d]">
            {{ item }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
