{% extends './_layouts/base.njk' %}

{% block content %}
  {% set items = ['New Game', 'Load Game', 'Options', 'Exit'] %}

  <div>
    {# <img class="fixed w-full h-full left-0 top-0 object-cover" #}
    {# src="/scenery.jpg" #}
    {# alt="" /> #}
    <canvas class="fixed webgl" data-canvas></canvas>
    <h1 class="absolute left-[80px] bottom-[60px] uppercase text-[#eee] text-[3.6vw] tracking-[0.07em] font-bold"
      data-title>
      <span class="opacity-0" data-source>Nordic Elysium</span>
      <span class="opacity-0 absolute left-0 whitespace-nowrap"
        data-letters
        aria-hidden="true">

      </span>
    </h1>
    <ul class="absolute right-[6vw] top-[30vh] uppercase text-[44px] text-[#333] font-medium text-right">
      {% for item in items %}
        <li class="mb-[20px] opacity-0 invisible" data-list-item>
          <a href="#" class="hover:text-[#ffdca4] active:text-[#eee]">
            {{ item }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
